<html>
<body>
<header> Celcius To Farenngeit </header>
<p>Bob is building an iOT device acting as a sensor. Given a temperature in celsius C, he request you to write a program to convert celsius and return farenheit value.<br />Round off the Result to the lowest possible Integer Value.</p>
<p>use Formula F = 1.8 C + 32</p>
<p><strong>Input:</strong><br />The testcase contains an Integer C denoting celsius value.</p>
<p><strong>Output:</strong><br />For the testcase, output the temperature in farenheit, rounded off to the lowest possible Integer value</p>
<p><strong>Example 1:</strong></p>
<p><strong>Input:</strong><br />51<br /><br /></p>
<p><strong>Output:</strong><br />123</p>
<p><strong>Example 1:</strong></p>
<p><strong>Input:</strong><br />65<br /><br /></p>
<p><strong>Output:</strong><br />149</p>
</body>
</html>